<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles/style.css">
    <title>Document</title>
</head>
<body>

    <header>

        <nav id="navBar">Best Books!</nav>
        <div id="div_nav">Search By Title or Author</div>
    
    <div id="side-nav">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/">Home</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
              </div>
              <span style="font-size:45px;  cursor:pointer; color:white;width: 100px;" onclick="openNav()">&#9776; </span>
            </div>
        </header>

<%- include('details') %>




<script src="../../public/styles/js/app.js"></script>
</body>
</html>