<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head') %>
<body>

<%- include('../../layout/header') %>

<%- include('details') %>




<script src="../../public/styles/js/app.js"></script>
</body>
</html>