<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="/searches/new" method="POST">

        <label for="booksTitel">Enter The Title Or Author Of The Book</label><br><br>
        <input type="text" id="booksTitel" name="booksTitel"><br>

        <label for="male">Male</label><br>
        <input type="radio" id="male" name="gender" value="male"><br>

        <label for="female">Female</label><br>
        <input type="radio" id="female" name="gender" value="female"><br>
     


        <input type="submit" value="Submit"><br>
      </form> 
    
</body>
</html>