
 <header>

    <nav  id="navBar">Best Books!</nav>
    <div id="div_nav">Search By Title or Author</div>

<div id="side-nav">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">HomePage</a>
            <a href="searches/new">Search For A Book</a>
          </div>
          <span style="font-size:  30px;  cursor:pointer; color:white;width: 100px;" onclick="openNav()">&#9776; </span>
        </div>
    </header>